*{
    padding: 0;
    margin: 0;
}
span{
    color: gold;
}
.btn{
    text-decoration: none;
    border: 2px solid ;
    border-radius: 20px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);}
    .card-group{
        background-color: black;
    }
    footer{
        position: relative;
        width: 100%;
        height: 300px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer p:nth-child(1){
        font-size: 30px;
        color: blue;
        margin-bottom: 20px;
        font-weight: bold;
    }
    footer p:nth-child(2){
        color: blue;
        font-size: 17px;
        width: 500px;
        text-align: center;
        line-height: 26px;
    }
    .social{
        display: flex;
    }
    .social a{
        width: 45px;
        height:45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: blue;
        border-radius: 50%;
        margin: 22px 10px;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    .social a:hover{
        transform: scale(1.3);
        transition: .3s;
    }
    .end{
        position: absolute;
        color: blue;
        bottom: 20px;
        font-size: 17px;
    }
    @media (max-width:991px) {
        .breadcrumb{padding: 5px;
        align-content: first baseline;}
        .breadcrumb ol li{
            display: list-item;
        }
        
    }
@media (max-width:550px) {
footer{
display: none;
}
.card{
    width: 100%;
    max-width: 400px;
}
.card-group{
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
}
